<section id="toggleBar">
    <div class="contianer-fluid">
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn"  (click)="closeNav()">×</a>
        <a routerLink="/location">Home</a>
        <a routerLink="/location/map">Map</a>
        <a href="#">Blog</a>
        <a routerLink="/location/contact">Contact</a>
      </div>
      
      <div id="main">
        <button class="openbtn"  (click)="openNav()">☰</button>
        
      </div>
        </div>
  </section>